<div class="container my-5 text-center">
  <div class="row">
    <div class="offset-1 col-6 m-auto">
    <h1 class="red-border px-3">本当に退会しますか？</h1>
      <div class="my-5">
        <p>退会すると、会員登録情報や</P>
        <p>これまでの投稿やお気に入りが閲覧できなくなります。</p>
        <p>退会する場合は、「退会する」をクリックしてください。</p>
      </div>
      <div class="m-auto">
        <%= link_to "退会しない", user_path(current_user), class:"btn btn-primary" %>
        <%= link_to "退会する", withdraw_path(@user), method: :patch, data: {confirm: "本当に退会してもよろしいですか？"}, class:"btn btn-danger" %>
      </div>
      <div>
        © 2022 GitHub, Inc.Terms
      </div>
    </div>
  </div>
</div>
