<div class="container">
  <div class="row justify-content-center">
    <div class="top">
      <div class=" mx-auto mt-5 mb-5 box-shadow">
        <div class="card-body">
          <p class="card-text">
            ApprelShopRACKはお気に入りのアパレルショップや新しく見つけたアパレルショップを共有、記録するレビューサイトです。<br>
            検索欄からアパレルショップを検索することが可能で、気に入ったショップが見つかったらお気に入り登録し、いつでも閲覧することができます。<br>
            ApprelShopRACKに登録して、全国の知られざるアパレルショップを見つけよう！<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>