<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'chris-reyem-oJoeGnj8OMM-unsplash.jpg', size: "400x350" %>
    </div>
    <div class="col-md-8">
      <h2>ようこそアパレルショップRACKへ！</h2>
    </div>
  </div>
</div>
