<div class="container">
  <div class="row justify-content-center">


    <div class="slider">
      <!--<div><img class="img" src="assets/top.jpg"></div>-->
      <!--<div><img class="img" src="assets/top2.jpg"></div>-->
      <!--<div><img class="img" src="assets/top3.jpg"></div>-->
      <div><%= image_tag 'top.jpg', class: 'sized'  %></div>
      <div><%= image_tag 'top2.jpg', class: 'sized'  %></div>
      <div><%= image_tag 'top3.jpg', class: 'sized'  %></div>
    </div>
    <div class="top-text">
      <% if user_signed_in? %>
        <h2>Welcome to ApprelShopRACK</h2>
      <% else %>
        <h2>Welcome to ApprelShopRACK</h2>
        <strong class="red-border px-3 pb-1">会員登録は<%= link_to "こちらへ", new_user_registration_path %></strong>
      <% end %>
    </div>
  </div>
</div>
