/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";


 .user-shops {
  display: inline-block;
  margin: 0.5em;
 }

 .navbar-brand {
 font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
 }

 .inquiry {
  padding-left: 50px;
 }

 .img {
  background-size: cover;
  height: 680px;
  width: 100%;
 }

 .img-about {
  background-image: url(assets/top.jpg);
  background-size: cover;
  height: 680px;
 }

 .top-text {
  text-align: center;
  font-size: 25px;
  padding-top: 200px;
  position: absolute;
  top: 200px;
  font-family: 'Andale Mono',sans-serif;
  filter: drop-shadow(10px 10px 5px #FF9872);
 }

 .card-text {
  text-align: center;
  font-size: 18px;
  padding-top: 70px;
  filter: drop-shadow(10px 10px 5px #FFD9D7);
 }

.title-text {
 font-family: YuGothic,'Yu Gothic',sans-serif;
 filter: drop-shadow(10px 10px 5px #FF9872);
}

.search {
 padding-left: 200px;
}

.search-text {
 font-weight:bold;
}
