<br><footer>
  <div class='container-fluid position: fixed;' style= "background-color: dark">
  	<div class='row'>
    	<div class='nav justify-content-center mx-auto'>
    	  <p class="text-secondary">© Copyright 2022 Apparel Shop RACK K.U</p>
    	　<i class="fab fa-twitter-square fa-2x text-secondary"></i>
    	　<i class="fab fa-instagram-square fa-2x text-secondary"></i>
    	　<i class="fab fa-facebook-square  fa-2x text-secondary"></i>
    	  <diV class="inquiry">
    	    お問い合わせは<%= link_to "こちらへ", inquiry_path %></p>
    	  </diV>
    	 </div>
     </div>
  </div>
</footer>